<ion-header>
  <ion-toolbar>
    <ion-title>Registrazione</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-input placeholder="Nome">
   </ion-input>
 </ion-item>
 <ion-item>
  <ion-input placeholder="Cognome">
   </ion-input>
 </ion-item>
 <ion-item>
   <label>Data di nascita</label>
  <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
 </ion-item>
 <ion-item>
    <ion-input placeholder="Indirizzo E-mail">
     </ion-input>
   </ion-item>
   <ion-item>
      <ion-input placeholder="Ripeti indirizzo E-mail">
       </ion-input>
     </ion-item>
   <ion-item>
      <ion-input type="password" placeholder="Password">
       </ion-input>
     </ion-item>
     <ion-item>
        <ion-input type="password" placeholder="Ripeti Password">
         </ion-input>
       </ion-item>
       <ion-button color="dark" full>Registrati</ion-button>
       <ion-back-button>Torna indietro</ion-back-button>
<ion-content padding>

</ion-content>
