<ion-header>
  <ion-toolbar>
    <ion-title>Profilo</ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
  
    <div class="container">
       <div class="ion-title"><h1> 
         <font face="Georgia" size="6" >IL MIO PROFILO</font> </h1></div>
             <form>
   
      <br>
<h4><font face="Georgia" size="5">Nome:</font> {{nomeUtente}}</h4>
<br>
<h4><font face="Georgia" size="5">Cognome:</font>{{cognomeUtente}}</h4>
<br>
<h4><font face="Georgia" size="5">Data di nascita:</font> {{dataUtente}}</h4>
<br>
<h4><font face="Georgia" size="5">Indirizzo E-mail:</font> {{email}} </h4>

</form>

       
 
 
    </div>

</ion-content>
