<ion-header>
  <ion-toolbar>
    
    <ion-title>Profilo Utente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-header>
      <ion-card-subtitle>Bentornato</ion-card-subtitle><!-- +concatenazione-->
  </ion-card-header>
<ion-item>
  <ion-label>Nome</ion-label><p>
  <ion-input></ion-input></p>
</ion-item>
<ion-item>
    <ion-label>Cognome</ion-label><p>
  <ion-input></ion-input></p>
</ion-item>
  <ion-item>
  <ion-label>Data di nascita</ion-label><br><p>
    <ion-input></ion-input></p>
  </ion-item>
<ion-content padding>

</ion-content>
