<ion-header>
  <ion-toolbar>
    <ion-title>Supporto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >


   
     

<p> <font face="Georgia" size="4">
  Se avete bisogno di assistenza siamo sempre a vostra diposizione</font> </p>
  <br>
  <ion-button color="primary" href="mailto:donatella.pelagaggi@studenti.unicam.it" id="submit">
<ion-icon name="mail"></ion-icon>
  <div> <font face="Georgia" size="3">Clicca qui per contattarci </font> </div>
  </ion-button>

</ion-content>





  