<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text>
 
 <ion-item>
  <ion-input placeholder="Indirizzo E-mail">
   </ion-input>
 </ion-item>
 <ion-item>
    <ion-input type="password" placeholder="Password">
     </ion-input>
   </ion-item>
   <br>
   <ion-button full color="dark"><font face="Georgia" size="3">Entra</font>
   </ion-button>
   <br>
   <br>
   <ion-label><font face="Georgia" size="4">Unisciti a noi!!</font></ion-label>
   <br>
   <br>
   <ion-button color="light" href="\register" full>
     <font face="Georgia" size="3">Registrati</font></ion-button>
 
</ion-content>



